.card-container{
    display: flex;
    flex-direction: column;
    background-color: hotpink;
    justify-content: center;
    align-items: center;
    width: 23%;
    padding: 2% 0.6% 0 0.6%;
}
h1{
    text-align: right;
    background-color: violet;
}