.footer-container{
    background-color: rgb(41,35,35);
    color: #fff;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}