.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-link{
    display: block;
    padding: .5rem .75rem;
    margin: 0 0.1rem;
    line-height: 1.25rem;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 10%;
    text-decoration: none;
}

.nav-pagination{
    margin: 24px 0;
}
.page-link:hover{
    background-color: rgb(155, 207, 255);
}
.page-link:focus{
    border: 3px solid #69b4ffb7;
}